#mission-admin,
.components-modal__frame {
	--wp-components-color-accent: #2fa36b;
	--wp-components-color-accent-darker-10: #278f5c;
	--wp-components-color-accent-darker-20: #1f7a4d;
	--wp-components-color-accent-inverted: #fff;
}

#mission-admin {
	max-width: 1200px;
	margin: 20px 20px 20px 0;

	h1 {
		font-size: 24px;
		font-weight: 600;
		margin: 0;
		padding: 0;
	}
}
