.wp-block-mission-donation-platform-fundraiser-progress {

  .mission-progress__bar-fill {
    width: var(--bar-width);
    animation: none;
  }

  .mission-progress__btn {
    pointer-events: none;
  }
}
